<p id="notice"><%= notice %></p>

<p>
  <strong>Institution name:</strong>
  <%= @institution.institution_name %>
</p>

<p>
  <strong>Institution status:</strong>
  <%= @institution.institution_status %>
</p>

<p>
  <strong>Address:</strong>
  <%= @institution.address %>
</p>

<%= link_to 'Edit', edit_institution_path(@institution) %> |
<%= link_to 'Back', institutions_path %>
