<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @time_period.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @time_period.end_date %>
</p>

<%= link_to 'Edit', edit_time_period_path(@time_period) %> |
<%= link_to 'Back', time_periods_path %>
