<%= form_for(@principal) do |f| %>
  <% if @principal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@principal.errors.count, "error") %> prohibited this principal from being saved:</h2>

      <ul>
      <% @principal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :created_at %><br>
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :last_updated_at %><br>
    <%= f.datetime_select :last_updated_at %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :institution_id %><br>
    <%= f.text_field :institution_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
