<!DOCTYPE html>
<html>
    <head>
        <title>Team 418 Application</title>
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700|Open+Sans:400,600,600i,700" rel="stylesheet">
    </head>
<head>
  <title>Website</title>
  <%= stylesheet_link_tag    'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if notice %>
  <p class="notice"><%= notice %></p>
  <% end %>

  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <div id="root"></div>

<%= yield %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=279832205458880";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<%= javascript_include_tag 'application' %>
</body>
</html>
